:root {
    --primary: #201b2c;
    --secondary: #00ff88;
    --tertiary: #2f2841;
    --quintary: #fff;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--primary);
    margin: 0;
}

.header-custom {
    background: var(--tertiary);
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* na ul precisa adicionar display flex para deixar os items um do lado do outro*/

.nav-bar ul {
    display: flex;
    padding: 2rem;
    list-style: none;
    gap: .8rem;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 5px;
}

.nav-bar a:hover {
    color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 5px;
}

nav .dev-logo {
    color: white;
}

.dev-logo {
    padding: 1vh;
}

.dev-logo:hover {
    color: var(--secondary);
    border: solid 1px var(--secondary);
    border-radius: 4px;
}

.reponsividade {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}

li :hover,
.reponsividade:hover,
.a:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: var(--tertiary);
    border-radius: 10px;
    border: solid 1px var(--secondary);
    color: var(--secondary);
}

.primeiro-conteudo {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 60px;
    overflow: hidden;
}

.primeiro-conteud0 {
    color: white;
    border: 1px solid #fff;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    background: var(--tertiary);
    padding: 30px;
    font-size: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 99px 0 rgba(0, 0, 0, 1);
    margin-left: -150px;
    transition: 0.2s;
}

.primeiro-conteud0:hover {
    margin-right: 150px;
    transform: translateY(-20px);
}

.primeiro-conteudo .primeiro-conteud0:nth-child(1) {
    margin-left: 0;
}

.primeiro-conteudo .primeiro-conteud0:nth-child(5) {
    margin-left: 50px;
}

.primeiro-conteud0 .data {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.primeiro-conteud0 .data time {
    color: var(--primary);
    padding-left: 10px;
}

.primeiro-conteud0 h2 {
    font-size: 16px;
    line-height: 18px;
    display: block;
    height: 110px;
}

.primeiro-conteud0 .autor {
    display: flex;
    align-items: center;
}

.primeiro-conteud0 .autor .img-container {
    width: 50px;
    height: 50px;
    border: solid 3px var(--secondary);
    border-radius: 50%;
    margin-right: 10px;
}


/**/

.img img {
    width: 100%;
    border-radius: 50%;
}

.primeiro-conteud0 .autor .info {
    font-size: 12px;
    font-weight: bold;
}

.primeiro-conteud0 .autor .info span {
    display: block;
    font-size: 11px;
    color: var(--secondary);
    padding-bottom: 3px;
}

.primeiro-conteud0 .tags a {
    display: inline-block;
    border: solid 3px var(--primary);
    border-radius: 30px;
    padding: 8px 25px;
    margin-bottom: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--quintary);
}

.primeiro-conteud0 .tags a:hover {
    color: var(--secondary);
    border: solid 3px var(--secondary)
}

.primeiro-container-main {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    left: 30px;
    border: 1px solid var(--quintary);
    border-radius: 15px;
}

.primeiro-container-main .segundo-container-main {
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 400px;
    width: 300px;
    padding: 20px;
}

.segundo-container-main {
    color: var(--quintary);
    text-align: center;
}

.conteudo-exclusivo {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    right: 30px;
}

.conteudo-exclusivo .conteudo-exclusiv0 {
    display: block;
    position: relative;
    left: 10px;
    color: var(--quintary);
    padding: 80px;
    border-radius: 15px;
}

.buttom-custom2 {
    display: inline-block;
    position: relative;
    top: 20px;
}

.conteudo-exclusiv0 .button-custom {
    width: 100%;
    height: 100%;
    color: var(--quintary);
    text-decoration: none;
    border: solid 1px var(--quintary);
    border-radius: 15px;
    padding: 6px;
}

.button-custom:hover {
    color: var(--secondary);
    border: solid 1px var(--secondary);
}

.img-custom-svg {
    display: flex;
    position: relative;
    top: 8px;
    width: 250px;
    height: 250px;
}

.footer-augusto_1 {
    display: flex;
    background-color: var(--tertiary);
    padding: 10px;
    border-radius: 6px;
}

.footer-augusto_2 {
    display: flex;
    color: var(--quintary);
    border-radius: 15px;
}

.footer-augusto_2 .footer-ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    padding: 10px;
    text-align: center;
}

.footer-augusto_2 .footer-ul a {
    text-decoration: none;
    color: var(--quintary);
    padding: 5px;
}

.footer-augusto_2 .footer-ul .footer-li-one a:hover {
    color: var(--secondary);
}

.footer-augusto_2 .footer-ul .footer-li-two a:hover {
    color: var(--secondary);
}

@media (max-width: 829px) {
    .primeiro-conteud0 {
        width: 270px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (max-width: 700px) {
    .primeiro-conteud0 {
        width: 230px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (max-width: 543px) {
    .primeiro-conteud0 {
        width: 200px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (max-width: 418px) {
    .primeiro-conteud0 {
        width: 200px;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        right: 20px;
    }
}

@media (max-width: 351px) {
    .primeiro-conteud0 {
        width: 160px;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        right: 20px;
    }
}

@media (max-width: 414px) {
    .conteudo-exclusivo {
        display: none;
    }
}

@media (max-width: 700px) {
    .header-custom,
    ul {
        flex-direction: column;
    }
    ul {
        text-align: center;
    }
    .header-custom {
        align-items: flex-start;
    }
    .nav-bar h1 a {
        margin-left: 10px;
        margin-top: 10px;
    }
    .reponsividade {
        display: flex;
    }
    li,
    ul {
        width: 100%;
    }
}


/*personalizando barra de rolagen*/

::-webkit-scrollbar-track {
    background-color: var(--secondary);
}

::-webkit-scrollbar {
    width: 6px;
    background: var(--secondary);
}

::-webkit-scrollbar-thum {
    background: var(--secondary);
    border-radius: 0;
}
